<!DOCTYPE html>

<html>

	<head>
	<script src="vue_2_6_12.js"></script>
    <script src="seedrandom.js"></script>
	<script src="SRWData.js"></script>
	<script src="scenLoops.js"></script>
	<script src="SRW3Rando.js"></script>
	<meta charset="utf-8">	
		<title>Super Robot Wars 3 Randomizer</title>
	<link rel="stylesheet" href="randoHTML.css">
	</head>
	<body>
	    <section class="section" id="app">

		<h1>Super Robot Wars 3 Randomizer</h1>	
		<br>
		<u1>This randomizer technically handles all 4 versions of the rom out there, 3 translated, 1 not</u1><br>
		<u2>As of right now, only Scenario 1 is randomized.  Options may come later.</u2><br>
		<label for="BaseSRW">Your local copy of the translated SRW3 rom file:</label>
		<input type="file" id="BaseSRW" name="BaseSRW" v-on:change="fileChange()">	
		
		
        <div class="field">
          <label class="label">Seed</label>
          <div class="control">
            <input class="input" type="text" v-model="seed" style="width:30%">
          </div>
        </div>


        <div class="btn-margin">
			<button class="button" :disabled="correctFileCRCcheck!==true" v-on:click="randomizeRom()">Randomize</button>
		</div>
		<div>
		<span v-if="correctFileCRCcheck===true" style="color:green">
			Valid ROM
		</span>
		<span v-if="correctFileCRCcheck===false" style="color:red">
			Invalid ROM
		</span>
        </div>

		<div class="btn-margin">
			<a class="button" :disabled="randomized===false" :download="fname" :href="createBlobURL">Download Randomized ROM</a>
		</div>
		
		</section>
		<script src="fileRando.js"></script>
	</body>


</html>
